<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <% if (error) { %> 
        <%- include('partials/error', { error: error }) %>
    <% } %>

    <h1>Add a new category or modify an existing one.</h1>
    <!-- Category Addition Table -->
    <table>
        <thead>
            <tr>
                <form action="/categories" method="POST">
                    <th>
                        <label for="newCategory">Add New Category</label>
                    </th>
                    <td colspan="2">
                        <input type="text" name="newCategory" id="newCategory" required>
                        <button type="submit">Add</button>
                    </td>
                </form>
            </tr>
        </thead>
    </table>
    <!-- Category Modification Table -->
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% itemCategories.forEach(category => { %>
                <tr>
                    <td><%= category.category %></td>
                    <td>
                        <form action="/categories/<%= category.id %>/update" method="POST">
                            <input type="text" name="updatedCategory" value="<%= category.category %>" required>
                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <img src="/update-icon.svg" alt="Update" style="width: 1.5rem; height: 1.5rem;">
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/categories/<%= category.id %>/" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <img src="/delete-icon.svg" alt="Delete" style="width: 1.75rem; height: 1.75rem;">
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>
