<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <% if (error) { %> 
        <%- include('partials/error', { error: error }) %>
    <% } %>
    
    <!-- Item Addition Table -->
    <table>
        <thead>
            <tr>
                <form action="/items" method="POST">
                    <th>
                        <label for="newItem">Add New Item</label>
                    </th>
                    <td colspan="2">
                        <input type="text" name="newItem" id="newItem" required>
                        <button type="submit">Add</button>
                    </td>
                </form>
            </tr>
        </thead>
    </table>

    <!-- Item List Table -->
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% itemList.forEach(item => { %>
                <tr>
                    <td><%= item.name %></td>
                    <td>
                        <form action="/items/<%= item.id %>/" class="update-container" method="GET">
                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <img src="/update-icon.svg" alt="Update" style="width: 1.5rem; height: 1.5rem;">
                            </button>
                        </form>
                    </td>
                    <td>  
                        <form action="/items/<%= item.id %>/delete" class="delete-container" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <img src="/delete-icon.svg" alt="Delete" style="width: 1.75rem; height: 1.75rem;">
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
    
</body>
</html>