<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <% if (error) { %> 
        <%- include('partials/error', { error: error }) %>
    <% } %>

    <h1>Add a new category or modify an existing one.</h1>
    <!-- Warehouse Addition Table -->
    <table>
        <thead>
            <tr>
                <form action="/warehouses" method="POST">
                    <th>
                        <label for="newWarehouse">Add New Warehouse</label>
                    </th>
                    <td colspan="2">
                        <input type="text" name="newWarehouse" id="newWarehouse" required>
                        <button type="submit">Add</button>
                    </td>
                </form>
            </tr>
        </thead>
    </table>

    <!-- Warehouse Modification Table -->
    <table>
        <thead>
            <tr>
                <th>Warehouse</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% warehouses.forEach(warehouse => { %>
                <tr>
                    <td><%= warehouse.region_name %></td>
                    <td>
                        <form action="/warehouses/<%= warehouse.id %>" method="POST" class="update-form">
                            <input type="text" name="newName" value="<%= warehouse.region_name %>" required>
                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <img src="/update-icon.svg" alt="Update" style="width: 1.5rem; height: 1.5rem;">
                            </button>
                        </form>
                    </td>
                    <td class="delete-container">
                        <form action="/warehouses/<%= warehouse.id %>/delete" method="POST">
                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <img src="/delete-icon.svg" alt="Delete" style="width: 1.75rem; height: 1.75rem;">
                            </button>
                        </form>
                    </td>
            <% }) %>
                </tr>
        </tbody>
    </table>
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>